<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedigree Pet Care</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>test</h1>
    <img src="/image/noodles.jpeg" alt="Noodles">









    <script src="/scripts/pet.js" charset="utf-8"></script>

</body>
</html>