<!-- //ejs partials for header -->

<%- include('partials/header');-%>

<h1>A Bit About Me</h1>

<!-- //render the paragraph dynamically using EJS -->

<p> <%= aboutMeContent %> </p>




















<%- include('partials/footer');-%>


