<!-- //ejs partials for header -->

<%- include('partials/header');-%>

<h1>Home</h1>

<!-- //render the paragraph dynamically using EJS -->

<p> <%= startingContent %> </p>




















<%- include('partials/footer');-%>


