<!-- //ejs partials for header -->

<%- include('partials/header');-%>

<h1><%= title %></h1>

<!-- //render the paragraph dynamically using EJS -->

<p> <%= content %> </p>




















<%- include('partials/footer');-%>


